/*.main-window {
 -fx-padding: 0;
 -fx-background-color: #CAD2D7;
 -fx-background-position: left top, left 19px top 15px ;
 -fx-background-insets: 2,2,2,2;
 -fx-border-color: #48BD31;
 -fx-border-width: 3;
}*/

.loginControl {
    -fx-text-fill: #CCCCCC;
    -fx-border-radius: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Arial Black";
    -fx-font-size: 12;
}
.loginControl:hover{
    -fx-background-color: rgb(212,64,39);

}
.loginControl:pressed{
    -fx-background-color: rgb(166,42,21);
}

#mini:hover{
    -fx-background-color: rgba(38, 173, 221, 0.29);
}
#mini:pressed{
    -fx-background-color: rgba(38, 173, 221, 0.39);
}

.login {
    -fx-background-color: #09A3DC;
    -fx-background-insets: 1,1,1,1;
    -fx-border-color: #09A3DC;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-padding: 3;
    -fx-text-fill: #FFFFFF;
	-fx-font-family: "宋体";
	-fx-font-size: 12;
}

.login:hover {
    -fx-background-color: #83C3F5;
    -fx-border-color: #83C3F5;
    -fx-text-fill: #FFFFFF;
}